h1 Add an item to the survey
p
  ' The survey item should be a statement of opinion,
  ' with which a reasonable person might agree or disagree,
  | to varying degrees.
= form_for @question do |f|
  = f.text_field :question, class: "wide-text-input"
  = f.submit
