/ - q = Question.find(params["id"])
p proposition:
h2
  = @question.question
- if user_signed_in?
  = flag_button current_user, @question
table
  caption Propositions most strongly correlated with the above
  tbody
    = question_correlation @question
