= form_for @profile do |f|
  - if @profile.errors.any?
    #error_explanation
      h2 = "#{pluralize(@profile.errors.count, "error")} prohibited this profile from being saved:"
      ul
        - @profile.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :handle
    = f.text_field :handle
  .field
    = f.label :ideology
    = f.text_field :ideology
  .actions = f.submit
