h2 Proximity map of ideologies
h3
  ' Based on reduction to two dimensions using
  abbr title="principal component analysis" PCA
= profiles_map
h2 Recently added ideologies
ul
- Profile.last(30).reverse.each do |p|
  li
    => link_to profile_path(p)
      strong
        = p.ideology
    ' added by
    => p.handle
    ' on
    => p.updated_at.to_date.strftime


