= form_with url: profiles_path, class: "main-form" do |f|
  fieldset.profile
    legend.bold Please describe yourself to our community.
    = text_field :profile, :user_id, type: "hidden", value: current_user.id
    = label :profile, :handle, "display name"
    = text_field :profile, :handle, :required => true, :autofocus => true
    = label :profile, :ideology, "Please provide a short noun phrase which describes your personal worldview or ideology."
    = text_field :profile, :ideology, :required => true, :class => "wide"
  fieldset.questions
    legend.bold Please indicate your level of agreement with the following statements.
    - Question.all.sample(30).each do |q| # TODO: replace 30 w. some kind of settings thing
      fieldset.question 
        = label :answer, :question, q.question, class: "bold"
        - ["strongly disagree", "disagree", "neutral or no opinion", "agree", "strongly agree"].zip(-2..2).each do |desc, number|
          = label "question[#{number}]", :value, desc, class: "radio-label"
          = radio_button :question, q.id, number, class: "radio-button"
  =submit_tag "Enter your responses."

