h1
  = @profile.ideology
h2
  ' the stated ideology of
  span.red
    = @profile.handle
table
  caption likely allies and rivals
  thead
    tr
      th allies
      th rivals
  tbody
    - comps = @profile.compatibilities
    - n = [comps.count/2, 30].min
    - allies = comps.take n
    - rivals = comps.last(n).reverse
    - (0...n).each do |i|
      = compatibility_ranking_row allies, rivals, i
    
