h1 Welcome to <span class="red">Ideology Club</span>
p A likert-scale questionnaire to gauge political attitudes.
p
  ' Results are compared with other results
  ' rather than some assumption about what answers 
  ' on what questions
  | correspond to alignment with what ideological tendencies.
- if user_signed_in?
  - if Profile.where(user: current_user)
    p
      ' If your views have changed since filling out our survey,
      ' feel free to
      = link_to "do it again.", new_profile_path
  
