= form_for @answer do |f|
  - if @answer.errors.any?
    #error_explanation
      h2 = "#{pluralize(@answer.errors.count, "error")} prohibited this answer from being saved:"
      ul
        - @answer.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :profile
    = f.text_field :profile
  .field
    = f.label :question
    = f.text_field :question
  .field
    = f.label :score
    = f.number_field :score
  .actions = f.submit
