p#notice = notice

h1
  = @answer.question.question
h2
  '
    = @answer.profile.handle
  ' said
  |



p
  strong Profile:
  = @answer.profile
p
  strong Question:
  = @answer.question
p
  strong Score:
  = @answer.score

=> link_to 'Edit', edit_answer_path(@answer)
'|
=< link_to 'Back', answers_path
