/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0px;
}

nav {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 10px;
}

nav a, nav a:visited, nav a:link {
  background-color: black;
  color: white;
}

caption {
  font-weight: bold;
  text-decoration: underline;
}

#undernav {
  padding: 30px;
}

.red {
  color: red;
}

.map {
  width: 500px;
  height: 500px;
  /* h/t lpd https://stackoverflow.com/a/5842401/948073 */
  position: relative;
  /* h/t shunryu111 https://stackoverflow.com/a/32861765/948073 */
  background-size: 31px 31px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
}

.map_label {
  /* h/t Chris Coyier https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.map_label:hover {
  color:#e6feb7;
  background-color:#113367;
  z-index: 2;
}

.wide-text-input {
  width: 99%;
}
