// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-form {
  font-family: "sans";
  font-size: 16px;
}

.profile {
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
}

.question {
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
}

.questions {
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
}
.bold {
  font-weight: bold;
}

.radio-label {
  display:inline;
}

.radio-button {
  margin-right: 20px;
}
