// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top_align {
  vertical-align: top;
}

.corr {
  font-family: "mono";
  font-weight: bold;
}

.wide {
  width: 90%;
}
